<!DOCTYPE html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 13.08.2016, 23:30</p>
            <h2><a href="">My first post</a></h2>
            <p>Meu primeiro post de um site feito com Python Django e hospedado no PythonAnywhere.</p>
        </div>

        <div>
            <p>published: 14.08.2016, 00:30</p>
            <h2><a href="">My second post</a></h2>
            <p>Meu segundo post neste site.</p>
        </div>
    </body>
</html>